@charset "UTF-8";
html {
  box-sizing: border-box;
}

input {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
.backdrop {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list,
.footer-mail,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.social, .container-sosial-comand-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section-title2,
.section-title2-job {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-title2,
  .section-title2-job {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  align-items: center;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.hero-button,
.footer-button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
}

/* логотип*/
.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo .web {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.link {
  text-decoration: none;
}

.header {
  position: relative;
}

.site-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.curent {
  color: #2196f3;
  position: relative;
  text-align: center;
}

.nav-list-link .curent::after {
  position: absolute;
  display: block;
  content: "";
  border: 2px solid #2196f3;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  top: 42px;
}

.adress-item {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item a:hover {
  color: #2196f3;
}

.adress-item a:hover svg {
  fill: #2196f3;
}

.adress-link a {
  color: #757575;
  font-style: normal;
}

.icon-envelope {
  width: 16px;
  height: 11.2px;
  fill: #757575;
  margin-right: 9px;
}

.icon-tel {
  width: 10px;
  height: 14.9px;
  fill: #757575;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-btn {
    position: relative;
    background-color: transparent;
    border: none;
  }
  .menu-btn.is-open .icon-close_bth {
    display: block;
  }
  .menu-btn.is-open .icon-close_bth:hover svg {
    fill: #2196f3;
  }
  .menu-btn.is-open .icon-burger {
    display: none;
  }
  .icon-burger {
    display: block;
    fill: #212121;
  }
  .icon-burger:hover svg {
    fill: #2196f3;
  }
  .icon-close_bth {
    display: none;
  }
  .menu-wrapper {
    z-index: 100;
    position: absolute;
    height: 453px;
    width: 100%;
    top: 76px;
    text-align: center;
    background-color: #ffffff;
    border-color: #757575;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-130%);
    transition: transfporm 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  .menu-wrapper.is-open {
    transform: translateY(0%);
  }
  .navigation {
    /* position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  .navigation .nav-list-link {
    position: relative;
  }
  .navigation .nav-list-link:not(:last-child) {
    padding-bottom: 40px;
  }
  .nav-list-link .curent::after {
    margin-left: 20px;
    top: 20px;
  }
  .adress-link {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-nav {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-right: 78px;
  }
  .nav-list-link:not(:last-child) {
    padding-right: 50px;
  }
  .adress-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .adress-link:not(:last-child) {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .site-nav {
    margin-right: 305px;
  }
  .adress-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .adress-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .adress-link:not(:last-child) {
    margin-right: 30px;
    padding-bottom: 0px;
  }
}

.container .hero {
  height: 400px;
  padding-top: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero_mob1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .container .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero_mob2x.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero_tab1x.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
  .container .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero_tab2x.jpg");
  }
}

@media (min-width: 1200px) {
  .container .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero_opt.jpg");
    height: 600px;
    padding-top: 200px;
  }
}

@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .container .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero_opt2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.6;
    letter-spacing: 0.06em;
  }
}

.hero button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.osob-container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .osob-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .osob-container {
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
  }
}

.osob-items {
  padding-bottom: 30px;
}

.osob-items .ocob-picture {
  width: 100%;
  height: 120px;
  align-items: center;
  padding: 25px 100px;
  background-color: #f5f4fa;
}

.osob-items .ocob-picture p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .osob-items {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .osob-items {
    margin: 0;
    width: 270px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
  .osob-items .ocob-picture {
    width: 270px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .osob-items:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .osob-items:not(:last-child) {
    margin-right: 30px;
  }
}

.section-title-osob {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section-title-osob {
    text-align: left;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.section-title2-job {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-title2-job {
    display: block;
    text-align: center;
  }
}

.job-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .job-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 94px;
    text-align: center;
  }
  .job-container-items img {
    display: block;
  }
  .job-container-items:not(:last-child) {
    margin-right: 30px;
  }
  .job-container .job-picture {
    position: relative;
  }
  .job-container .section-title-ch {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
  }
}

.comand {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .comand {
    margin-bottom: 60px;
  }
}

.bgr-comand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f4fa;
}

.bgr-comand p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
  text-align: center;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .bgr-comand {
    margin: 0px -15px;
  }
}

@media screen and (min-width: 1200px) {
  .bgr-comand {
    margin: 0;
    flex-wrap: nowrap;
  }
}

.container-comand-item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) and (max-width: 1999px) {
  .container-comand-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container-comand-item {
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container-comand-item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-title-comand {
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title-comand {
    margin-top: 30px;
  }
}

.container-comand-item img {
  width: 100%;
}

.social {
  justify-content: center;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 12px;
}

.container-sosial-item:not(:last-child) {
  margin-right: 10px;
}

.container-sosial-comand-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-sosial-comand-link:hover .container-sosial-comand-svg {
  fill: #ffffff;
}

.container-sosial-comand-link {
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-sosial-comand-link:hover {
  background-color: #2196f3;
}

.svg-icon-logo1, .svg-icon-logo2, .svg-icon-logo3, .svg-icon-logo4, .svg-icon-logo5, .svg-icon-logo6 {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 132px;
  }
}

.container-clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px -15px;
}

@media screen and (min-width: 1200px) {
  .container-clients {
    flex-wrap: nowrap;
  }
}

.container-clients-item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .container-clients-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container-clients-item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .container-clients-item {
    width: calc((100% - 150px) / 6);
    magin: 0;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .container-clients-item:not(:last-child) {
    margin-right: 30px;
  }
}

.container-clients-item:hover {
  border-color: #2196f3;
}

.container-clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon-logo1 {
  width: 44px;
  height: 49px;
}

.container-clients-item:hover .svg-icon-logo1 {
  fill: #2196f3;
}

.svg-icon-logo2 {
  width: 40px;
  height: 52px;
}

.container-clients-item:hover .svg-icon-logo2 {
  fill: #2196f3;
}

.svg-icon-logo3 {
  width: 41px;
  height: 42px;
}

.container-clients-item:hover .svg-icon-logo3 {
  fill: #2196f3;
}

.svg-icon-logo4 {
  width: 80px;
  height: 42px;
}

.container-clients-item:hover .svg-icon-logo4 {
  fill: #2196f3;
}

.svg-icon-logo5 {
  width: 59px;
  height: 42px;
}

.container-clients-item:hover .svg-icon-logo5 {
  fill: #2196f3;
}

.svg-icon-logo6 {
  width: 88.5px;
  height: 45px;
}

.container-clients-item:hover .svg-icon-logo6 {
  fill: #2196f3;
}

/* footer*/
.logo-footer > .container {
  background-color: #2f303a;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .logo-footer > .container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.logo-footer {
  display: block;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .logo-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.container-footer-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-footer-adress a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .container-footer-adress {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .container-footer-adress {
    margin-left: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer-adress {
    margin-right: 69px;
  }
}

.logo-text-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.logo-text-footer .web {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo-text-footer {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.footer-adress {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.text-footer-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-footer-link:hover, .text-footer-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .div-text-footer {
    margin-right: 69px;
  }
}

.div-text-footer,
.div-text-mail {
  text-align: center;
  color: #ffffff;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .div-text-footer,
  .div-text-mail {
    width: 450px;
    margin-left: 185px;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .div-text-footer,
  .div-text-mail {
    margin: 60px auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .div-text-footer,
  .div-text-mail {
    text-align: start;
  }
}

.div-text-mail b,
.div-text-footer b {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-footer {
  color: #ffffff;
}

.container-sosial-item-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.container-sosial-comand-link {
  background-color: rgba(255, 255, 255, 0.1);
}

/*.div-text-footer {
  margin-bottom: 60px;
}*/
.div-text-footer-write {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .div-text-footer-write {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
  }
}

.footer-button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-image: url("../images/svg/iconsend.svg");
  background-repeat: no-repeat;
  background-position: center right 7px;
  background-size: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
  width: 100%;
  padding: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:focus, .footer-mail:hover {
  border-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1999px) {
  .footer-mail {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mail {
    width: 360px;
    margin-right: 8px;
  }
}

.contact-form-label {
  position: absolute;
  left: 15px;
  top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: none;
  color: rgba(255, 255, 255, 0.3);
}

.footer-mail:not(:placeholder-shown) .contact-form-label {
  color: var(--primary-text-color);
  border-color: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal-form {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  padding: 39px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal-form-title {
  margin-bottom: 30px;
  text-align: start;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.modal-form-input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  background-color: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-form-input:hover {
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-input:focus, .modal-form-input:not(:placeholder-shown) {
  outline: none;
  border-color: #2196f3;
  cursor: pointer;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 46px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  color: #2196f3;
  transform: translate(-16px, -40px);
}

.icon-modal {
  position: absolute;
  overflow: visible;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #212121;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover ~ .icon-modal,
.modal-form-input:focus ~ .icon-modal,
.modal-form-input:not(:placeholder-shown) ~ .icon-modal {
  fill: #2196f3;
}

.modal-form-message {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  padding: 12px 16px;
  color: #757575;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(157, 164, 189, 0.4);
}

.modal-form-message:hover {
  border-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form-message:focus, .modal-form-message:not(:placeholder-shown) {
  outline: none;
  border-color: #2196f3;
  cursor: pointer;
}

.modal-massange-label {
  position: absolute;
  top: 15px;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-form-message:focus + .modal-massange-label,
.modal-form-message:not(:placeholder-shown) + .modal-massange-label {
  transform: translate(-16px, -40px);
  color: #2196f3;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-checkbox-label {
  display: flex;
  width: 425px;
  padding-left: 11px;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-checkbox-label-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form-checkbox-label-span a {
  color: #2196f3;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 1px solid #0000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-btn {
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 32px 10px 32px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
  background-image: url(../images/svg/close-modal.svg);
  background-size: contain;
  background-origin: border-box;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-close-btn:hover {
  background-image: url(../images/svg/close.svg);
  background-size: contain;
  background-origin: border-box;
}
/*# sourceMappingURL=main.css.map */