.link {
  text-decoration: none;
}
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
.menu-btn {
  background-color: transparent;
  border: none;
  align-items: center;
  &.is-open {
    opacity: 1;
    .icon-close_bth {
      display: block;
    }
    .icon-burger {
      display: none;
    }
  }
}
.icon-close_bth {
  display: none;
}
.icon-burger {
  display: block;
  fill: $title-text-color;
}
.menu-wrapper {
  display: none;
  position: absolute;
  width: 480px;
  height: 453px;
  width: 100%;
  top: 100%;
  text-align: center;
  background-color: rgb(167, 223, 167);
  transform: translateY(0%);
  transition: transfporm 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms
    cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  @media screen and (min-width: 480px) {
    margin-left: 0px;
    padding: 60px 138px;
    border-color: $primary-text-color;
    opacity: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
.menu-wrapper.is-open {
  display: block;
}
.site-nav {
  @include font(500, 1.16, 18px, 0.02em);
  .link {
    color: $title-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .link.curent {
    color: $accent-color;
    &::after {
      width: 100%;
    }
  }
}
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  .nav-list-link {
    &:not(:last-child) {
      padding-bottom: 40px;
    }
  }
}

.nav-list-link {
  position: relative;
  & .curent::after {
    position: absolute;
    display: block;
    content: "";
    border: 2px solid $accent-color;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 30px;
    width: 100%;
  }
}

.adress-item {
  display: inline-block;
  @include font(500, 1.16, 18px, 0.02em);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-item a:hover {
  color: $accent-color;
}
.adress-item a:hover svg {
  fill: $accent-color;
}
.adress-link a {
  color: $primary-text-color;
  font-style: normal;
}
.icon-envelope {
  width: 16px;
  height: 11.2px;
  fill: $primary-text-color;
  margin-right: 9px;
}
.icon-tel {
  width: 10px;
  height: 14.9px;
  fill: $primary-text-color;
  margin-right: 10px;
}
