.link {
  text-decoration: none;
}
.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
.menu-btn {
  background-color: transparent;
  border: none;
  align-items: center;
  .icon-close_bth {
    display: none;
  }
}
.icon-burger {
  fill: $title-text-color;
}
.menu-wrapper {
  position: absolute;
  text-align: center;
  width: 480px;
  height: 453px;
  padding: 60px 140px;
  background-color: rgb(167, 223, 167);
  @media screen and (min-width: 480px) {
    margin-left: 0px;
    width: 100%;
    top: 100%;
    border-color: $primary-text-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}
.site-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  .link {
    color: $title-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .link.curent {
    color: $accent-color;
  }
}
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  .nav-list-link {
    &:not(:last-child) {
      padding-bottom: 40px;
    }
  }
}
.adress-item {
  display: inline-block;
  width: 200px;
  height: 21px;
  left: 140px;
  top: 335px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link {
  position: relative;
  & .curent::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    border: 2px solid $accent-color;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 30px;
  }
}
.adress-item a:hover {
  color: $accent-color;
}
.adress-item a:hover svg {
  fill: $accent-color;
}
.adress-link {
  width: 200px;
  height: 21px;
  margin-bottom: 16px;
}
.adress-link a {
  color: $primary-text-color;
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.icon-envelope {
  width: 16px;
  height: 11.2px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.icon-tel {
  width: 10px;
  height: 14.9px;
  fill: $primary-text-color;
  margin-right: 10px;
}
