/*.osob-container {
  display: flex;
  align-items: center;*/
/*.osob-container {
  @extend %align_center;
}*/

.osob-items {
  display: block;
  text-align: center;
  width: 100%;
  .ocob-picture {
    width: 100%;
    height: 120px;
    align-items: center;
    margin-bottom: 30px;
    background-color: $bgr-section-color;
    p {
      @include font($lh: 1.71);
    }
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-title-osob {
  text-align: center;
  text-transform: uppercase;
  @include font($fw: 700);
  margin-bottom: 20px;
  /* color: $title-text-color;*/
}
@media screen and (min-width: 768px) {
  .osob-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .osob-items {
    width: 50%;
    text-align: start;
    .ocob-picture {
      width: 50%;
      height: 120px;
      align-items: center;
      margin-bottom: 30px;
      background-color: $bgr-section-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  /*.osob-container {
    @extend %align_center;
  }*/
}
