.rabot {
  padding-top: 93px;
}
.container .container-portfolio {
  @extend %align_center;
  justify-content: center;
  margin-bottom: 40px;
}
.container-button-item {
  box-sizing: border-box;
  border: 1px solid $bgr-section-color;
  .button {
    background-color: $bgr-section-color;
    border-radius: 4px;
    border: 1px solid $bgr-section-color;
    color: $title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $link-text-color;
      background-color: $accent-color;
    }
  }
  &:not(:last-child) {
    margin-right: 52px;
  }
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: left;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  p {
    font-size: 16px;
    line-height: 1.88;
    align-self: start;
    margin: 0px;
  }
}
.portfolio {
  @extend %align_center;
}
.portfolio-position {
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}
.portfolio-position-text {
  @extend %align_center;
  position: absolute;
  width: 100%;
  height: 101%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  @include font(700, 1.56, 18px);
  color: $link-text-color;
  opacity: 0;
  transition: transfporm 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity 250ms
    cubic-beziercubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  .portfolio-item:hover &,
  .portfolio-item:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
  p {
    position: absolute;
    padding: 63px 24px;
  }
}
.portfolio-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.section-title-portf {
  @include font(700, 2, 18px, 0.06em);
  margin: 0px;
  color: $title-text-color;
}
