.social {
  @extend %align_center;
  justify-content: center;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 12px;
}
.container-sosial-item:not(:last-child) {
  margin-right: 10px;
}
.container-sosial-comand-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .container-sosial-comand-link:hover & {
    fill: $link-text-color;
  }
}
.container-sosial-comand-link {
  @extend %align_center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: $link-text-color;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $accent-color;
  }
}
