.button {
  @include font(500, 1.6, 16px);
  align-items: center;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $link-text-color;
    background-color: $accent-color;
  }
}
.hero-button {
  color: $link-text-color;
  background-color: $accent-color;
}
