/* логотип*/
.logo {
  color: $title-text-color;
  font-family: "Raleway", sans-serif;
  @include font(700, 1.19, 26px);
  .web {
    color: $accent-color;
  }
  .navigation & {
    margin-left: 15px;
  }
}
